@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

*{
    margin: 0;
    padding: 0;
    border:none;
}

header{font-family:Karla, sans-serif;
    background-color: tan;
    color: oldlace;
    font-size: 200%;
    text-align: center;
}


body{
    background-color: tan;
    color: oldlace;

}
h2{
    padding: 25px;
    text-align: center;
    font-size: 170%
}
p{
    text-align: center;
}

.options{
    text-align: center;
    padding: 25px;
}

.game{
    padding: 5px;
}

p{
    font-size: 150%;
}

.button{
    font-size: 150%;
    background-color: oldlace;
    color: saddlebrown;
    border:none;
    border-radius: 50px;
    margin: 15px;
    padding: 10px 10px;
}

.button:hover{
    background-color:saddlebrown;
    color:oldlace;
}

.score{
    font-size: 120%;
}
